version: '3.7'

services:
  application:
    image: app/server
    volumes:
      - ./app:/var/www
    ports:
      - 80:80
  database:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306
  admin:
    image: adminer
    restart: always
    ports:
      - 8080:8080
